{% extends "base.html" %}

{% block title %}Альбом - HendalHost{% endblock %}

{% block content %}
    Ваш альбом

    <div class="share-section">
        Поделитесь этой страницей: <span style="text-decoration: underline;">{{ request.url | truncate(30) }}</span>
        <button onclick="navigator.clipboard.writeText('{{ request.url }}')">Копировать</button>
    </div>

    <div class="image-gallery">
        {% for img in images %}
            <div class="image-item">
                <img src="{{ img }}" alt="Image">
                <div class="image-links">
                    Ссылка: <span style="text-decoration: underline;">{{ img | truncate(30) }}</span>
                    <button onclick="navigator.clipboard.writeText('{{ img }}')">Копировать</button>
                    <a href="{{ img }}" download>Скачать</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="load-more">
        <button>Загрузить еще</button>
    </div>
{% endblock %}